<div class="col-md-8 offset-md-2">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class=" panel-heading ">
            <p>{{questionnaire.title}}</p>
            <p>{{questionnaire.introduction}}</p>            
        </div>
        <div>
            <a class="btn btn-primary" href="{% url 'update_questionnaire' questionnaire.pk %}">update questionnaire</a>
        </div>
        <div class="panel-body ">
            <div class="container-fluid ">
                <a class="btn btn-primary" href="{% url 'add_question' pk=questionnaire.pk %} ">Add question</a> 
                <a href="{% url 'delete_questionnaire' questionnaire.id %} " class="btn btn-danger d-print-none" style="float:right ">Delete questionnaire</a>
                <div>
                        {% for question in questionnaire.questions.all %}
                          <p>{{question.text}}</p>
                             <a href="{% url 'question_delete' pk=question.pk %} ">Remove</a>
                          </div>
                        {% endfor %} 
        </div></div>