

<div class="col-md-8 offset-md-2">
    <div class="panel panel-default">
        <div class=" panel-heading ">
            <p>{{question.text}}</p>
        </div>
        <div>
        </div>
        <div class="panel-body ">
            <div class="container-fluid ">
                <a class="btn btn-primary" href="{% url 'add_choice' pk=question.pk %} ">Add choice</a> 
                <a href="{% url 'question_delete' question.id %} " class="btn btn-danger d-print-none" style="float:right ">Delete choice</a>
             <a  href="{% url 'questionnaire_detail' pk=question.questionnaire.pk %}">done</a>
                <div>
                        {% for choice in question.choices.all %}
                          <p>{{choice.text}}</p>
                             <a href="{% url 'choice_delete' pk=choice.pk %} ">Remove</a>
                          </div>
                        {% endfor %} 
        </div></div>


<!--

<div class="container pt-5">
    <h2 class=text-primary>{{ question.text }}</h2>
    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'vote' question.id %}" method="post">
        {% csrf_token %} {% for choice in question.choices.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
        <label for="choice{{ forloop.counter }}">{{ choice.text }}</label><br /> {% endfor %}
        <button type="submit" class="btn btn-primary"> Next  </button>
    </form>
</div>

-->