body{
	background-color: #eee;
}

.title{
	line-height: 65px;
	color: brown;
}

.navbar{
	background-color:teal !important;
	height:70px;
	border-radius: 0px;
	-moz-box-shadow: 0 0 35px #999;
	-webkit-box-shadow: 0 0 15px #999;
	box-shadow: 0 0 35px #999;
}

.navbar-brand{
	text-decoration: none;
	color:white;
	font-size: 20px;
	text-align: right;

}

.panel{
	background-color: white;
	color: black;
}

.balance{
	color: blue;
}

.login .navbar-brand{
-moz-box-shadow: 0 0 35px #999;
	-webkit-box-shadow: 0 0 15px #999;
	box-shadow: 0 0 35px #999;

}

.add-new{
	border-radius: 200px;
	height: 100px;
	width: 100px;
}

.login-btn{
	background-color: orange;
	border-style: none;
	color: black;

}

.card{
	height: 300px;
}
.btn{
	border-radius: 0px;
}